[2020-06-19 11:37] peth-yursick opened #58 "Split calls to action"
As it currently stands, we have 3 separate buttons on the main wiki page;
"for players", "for guilds" & "for patrons" - BUT! Their buttons all lead to a single page: introduction
https://wiki.metagame.wtf/

I wanted to change that, but looks like all 3 buttons are written as a single "call to action" (or "through here" if my pull request gets merged meantime), and I don't know how to split them in

[2020-06-19 11:43] peth-yursick opened #59 "Embed SourceCred"
I added this leaderboard page:
https://wiki.metagame.wtf/docs/roadmap/leaderboard

But I have no idea how to actually integrate our sourcecred page into it..
Is that even possible?
https://metafam.github.io/TheSource/timeline/@metagame/

[2020-06-19 12:32] peth-yursick commented on #59
Is this how you do it?
https://github.com/MetaFam/metagame-wiki/pull/61

[2020-06-19 18:16] krzysu commented on #58
I will do it

[2020-06-19 19:47] #58 closed

[2020-06-23 08:36] krzysu commented on #59
solved in #61

[2020-06-23 08:36] #59 closed

[2020-06-23 10:19] peth-yursick opened #97 "Center (non)aligned buttons"
The text & the button on [wiki](https://wiki.metagame.wtf/) are left-aligned so the look weird.

[2020-06-23 10:23] peth-yursick opened #98 "SourceCred transparent, makes it invisible"
On the [leaderboard page](https://wiki.metagame.wtf/docs/Players/leaderboard), sourcecred is rendered with a transparent background, so it's black text against the almost black background of the wiki..

[2020-06-24 08:40] #97 closed

[2020-06-24 08:40] #98 closed

[2020-10-01 22:15] Hiturunk opened #121 "🎩 Down the Rabbit Hole You Go 🐇# - Quest 1 hyperlink broken."
On the wiki here: https://wiki.metagame.wtf/docs/enter-metagame/how-to-become-a-player
A new user, discovering Metagame, gets their first quest:

1."Read WTF is MetaGame [hyperlink to https://wiki.metagame.wtf/docs/handbook/wtf-is-metagame],
2. subscribe to the "Realizing The MetaGame" newsletter.
3. & Introduce yourself on the forums."

Quest 1, step 1's hyperlink is broken, it returns a 404 from

[2020-10-01 22:19] Hiturunk commented on #121
Okay, upon further investigation, the hyperlink to step 1 of quest 1 needs to reference:
"https://wiki.metagame.wtf/docs/wtf-is-metagame/wtf-is-metagame"

Not, as it currently does:

"https://wiki.metagame.wtf/docs/handbook/wtf-is-metagame"

[2020-10-02 12:27] peth-yursick commented on #121
Thank you sir! Closing this as it seems fixed in your PR :)

[2020-10-02 12:27] #121 closed

[2020-10-03 09:22] peth-yursick opened #126 "GUI editor not working"
I tried using the new editor but I couldn't submit.
This is what it gave:
Failed to persist entry: API_ERROR: Not Found

[2020-10-03 16:41] peth-yursick opened #128 "Design Tweaks"
We'll soon be integrating the wiki under MyMeta and its navigation bar. Means we need to change a bunch of things about the wiki to make it match MyMeta' slickness.

Things that need to change:
- The color scheme of the wiki should match that of MyMeta
     - 1b0d2a for background
     - 261942 for sidebar
     - 392373 for mouse hover highlight
     - a5b9f6 for text
     - b72886 for explore but

[2020-10-04 08:06] manolingam commented on #128
Working on this issue.

[2020-10-07 11:17] peth-yursick commented on #128
Hey, I see you've removed all the links from the top navigation bar, but you haven't actually removed the bar itself.
Its noticeable because there's a black line separating the main area and the nav bar, and the navbar is of a slightly different color.. If you only left it because of the search function, don't worry, we can get rid of that too.

[2020-10-07 14:31] manolingam commented on #128
Yeah, because of search function Peth.

[2020-10-07 15:43] luxumbra commented on #128
I'll jump on this this evening.

[2020-10-08 12:36] peth-yursick commented on #128
Thank you guys!

[2020-10-08 12:36] #128 closed

[2020-10-08 12:37] peth-yursick opened #134 "Moar Design Tweaks"
Ok, there's 1 more issue and 2 more improvements possible.

Issue:
For some reason, when opening the "for players", "for guilds" & "for patrons", the whole sidebar moves upwards and leaves this gap in the bottom
![image](https://user-images.githubusercontent.com/55857222/95456197-4515ab80-096f-11eb-9e2a-2ec11962a027.png)
For some reason it only happens with those 3 pages.

Improvement 1:
Can we ma

[2020-10-08 12:45] luxumbra commented on #134
I'll grab this if no-one else is.

[2020-10-09 01:38] luxumbra commented on #134
I've done the style updates for this but am going to need to do some responsive tweaks.
![image](https://user-images.githubusercontent.com/780350/95531236-f3553b80-09d7-11eb-9d28-cc17a47638bb.png)

[2020-10-09 11:14] peth-yursick commented on #134
Right.. The sidebar container should probably be expanding and collapsing along with the text dropdown expanding & collapsing, always leaving the same sized margins on top & bottom as on left & right.

[2020-10-10 07:52] peth-yursick commented on #134
I merged your PR @luxumbra because I think the XP is currently still mostly based around PRs vs impact and I thought you already did enough to deserve XP without further changes.

But, I do think there are still 3 more things to be done to make it perrrfect 😋

1. If you can bring back the text to the middle of the screen (sorry again for that misleading screenshot 😬)
2. Make the same size margin a

[2020-10-10 10:28] luxumbra commented on #134
Sure, I'll get those changes done at some point today. Good point re: the scrolling sidebar.

Thanks for approving the PR & XP man. :grin:

[2020-10-12 01:51] luxumbra opened #138 "Add SASS to the Wiki"
Currently there's 3 files for styling the Wiki - one a global vanilla css file and the others, css module files for the homepage and theroom. To me, neither are great options for productivity, flexibility or maintainability. If the wiki is going to grow beyond what it currently is, it would be good to get stuff like this in order.

Docusaurus has a plugin for sass which I did install locally but h

[2020-10-12 11:31] luxumbra commented on #134
@peth-yursick there's an approved PR for the rest of the bits in this issue plus some other bits resulting from Hammads review. :+1:

[2020-10-26 23:19] #134 closed

[2020-10-26 23:19] #138 closed

[2020-10-27 22:28] luxumbra commented on #126
Does the whitelist for the Netlify api need to be updated after the move to Vercel? @hammadj @peth-yursick

[2020-10-27 22:29] luxumbra commented on #126
Have either of you used Sanity.io? It's a really nice headless cms.

[2020-12-20 22:43] peth-yursick opened #180 "Remove the app drawer"
Now that we have the app drawer on the website, we should probably remove it from the wiki.
Currently:
![image](https://user-images.githubusercontent.com/55857222/102726207-0dd35b80-431d-11eb-9938-99c1744046c6.png)
Should look more like this:
![image](https://user-images.githubusercontent.com/55857222/102726193-ef6d6000-431c-11eb-9de9-33dee21bfd70.png)

[2020-12-26 16:22] luxumbra commented on #180
Hey @peth-yursick is this still needed? What happens when the wiki content is loaded? I am a little out of touch with how the website and wiki are tying together in ThePlatform. I'll catch up in builders-guild.

[2020-12-28 14:55] peth-yursick commented on #180
When the content loads, the sidebar should move to the left and continue as the wiki normally looks.
The wiki itself should be accessible directly through the platform

[2021-01-13 07:28] Misanth420 opened #190 "Discourse-Button disappearing"
Wasn't sure whether to post the issue here or under MetaGame Website-please correct me
-When viewing the discourse forum, if you enter a thread and scroll down, the "wiki" button disappears.
-It seems to disappear only when you enter a thread and scroll down, regardless of location.
-Is this intended to work like that?
![Discourse_screenshot](https://user-images.githubusercontent.com/77243213/1044

[2021-01-16 21:59] SLRead commented on #190
Confirmed this behaviour.  It happens when the title bar switches from the MetaGame logo to the thread title.  So it is likely just missing from the menu location that holds the thread title.

[2021-01-17 00:58] St4rgarden opened #191 "blank leaderboard showing on the leaderboard app drawer page"
So I am getting a blank leaderboard on this page right here -> https://wiki.metagame.wtf/docs/enter-metagame/leaderboard I am on High Sierra 10.13.6 and Chrome 86.0.4240.198 (Official Build) (x86_64)

[2021-01-17 10:52] SLRead opened #196 "Image not showing on wiki page House of DAOs"
I mentioned this on Discord, so figured I'd put all of the info here. This looks like another certificate parsing issue...
My env: RedHat Linux 7.9 / Chrome Version 87.0.4280.88 (Official Build) (64-bit)

It appears fine from git in the preview of the page, but once on the wiki is looks like this:

![image](https://user-images.githubusercontent.com/39156178/104838232-86dcb900-58b1-11eb-9562-ca11ae

[2021-01-17 16:18] luxumbra commented on #196
@SLRead,  I tried this and it works for me. https://i.imgur.com/1Kezv9Q.png  I notice in this one there's an 'i' subdomain which is missing in the example in the wiki.

[2021-01-17 16:37] #196 closed

[2021-01-17 16:41] SLRead commented on #196
Hmmm.  I still get the same 'can't provide a secure connection' message.

"i.imgur.com sent an invalid response."

Most likely an issue with Chrome, but it doesn't prompt me to allow an exception, either.

[2021-01-19 20:05] IxaBrjnko commented on #191
This seems to be an issue with the redirect... not sure if we should use sandboxing or 'dangerouslySetInnerHTML' to resolve, although the target is clearly trustable...

[2021-01-21 14:11] luxumbra commented on #191
Is this not something to do with the SSL cert being invalid on xp.metagame.wtf?

[2021-04-21 16:46] prakharsr opened #222 "Pull Request Bot"
Feature Request (suggested by @peth-yursick ) : I created a discord bot, this bot creates a pull request in https://github.com/MetaFam/metagame-wiki master branch and adds an image in static/img folder. This bot will listen for messages on all the channels of a user and if any message has an image as an attachment and a comment of the kind "create pr", then it will create a branch "imageBranch" if

[2021-04-21 16:49] prakharsr commented on #222
https://github.com/prakharsr/MetaFam-discord-message-to-github-issue#pull-request-bot closes this issue https://github.com/MetaFam/metagame-wiki/issues/222.

[2021-05-20 02:41] metaverde opened #231 "Dead link to /home on /docs/how-does-it-work/phases-of-metagame page."
Under "My Meta" [here](https://wiki.metagame.wtf/docs/how-does-it-work/phases-of-metagame) the  [https://wiki.metagame.wtf/home](https://wiki.metagame.wtf/home) link goes to "Page not found".

[2021-05-20 02:47] metaverde commented on #231
I feel like this sentence under "MetaVille" should have a link in it?

[2021-05-20 02:50] metaverde commented on #231
Did this article happen?
We should link it if so.

[2021-05-28 16:10] Vyvy-vi opened #234 "SEO: Metadata tags for neater embeds"
## Description
Currently, the metagame wiki makes a terrible embed on discord, with just a title(and most probably in other social platforms as well).
We could add some Meta tags for some form of SEO, and esp. for having neatly embedded links that can actually attract people more, and perhaps give more context.

The current embeds-
![current link embed only has a title](https://media.discordapp.ne

[2021-06-05 07:56] Vyvy-vi commented on #234
I think we can set these more custom metatags using [ssrtemplate](https://docusaurus.io/docs/docusaurus.config.js#ssrtemplate)

[2021-06-06 21:09] Baconaetor opened #239 "Number of Seeds required for Patrons needs to be changed from 5 to 6."
8 pSEEDs are required to become a Patron. Originally 5 planted seeds was enough and so the docs reference that number. It was recently found though that planting 5 seeds can result in less than 8 pSEEDs, so the number is being changed to 6. @peth-yursick changed the number in the notion document for the Patron Path, but it still reads as 5 elsewhere.

The discord conversation where this is discuss

[2021-06-06 21:12] Baconaetor commented on #239
PR #238 will resolve this issue for the "Join MetaGame" page on the wiki here:
https://wiki.metagame.wtf/docs/enter-metagame/join-metagame#join-as-a-patron

Does anyone know if this info is recorded, and needs to be changed, anywhere else?

[2021-06-06 21:19] luxumbra commented on #239
The info is probably in newsletters and other places that can't be updated now but I know there's some pinned messages in discord channels (metasquare & ask-anything for example) that mention it.

[2021-06-06 21:36] luxumbra commented on #234
@Vyvy-vi an old PR was merged this week that sorts this out. However, I have not been able to add these tags AND make the preview display the hero/main image on any given page - either down to my own skill limitations or down to the limitations of Docusaurus.

I'd say, if you can improve on what is already in place without a heap of work, go for it but we are wanting to put more energy and thought

[2021-06-06 21:46] luxumbra commented on #231
Thanks for these @metaverde. Did you want to tend to the issues or shall I seek a curious octo?

[2021-06-06 21:55] luxumbra commented on #191
This seems to be sorted now, so closing the issue. If it crops up again, fee free to open again.

[2021-06-06 21:55] #191 closed

[2021-06-06 21:56] luxumbra commented on #239
Thanks for sorting this. PR merged.

[2021-06-06 21:56] #239 closed

[2021-06-06 21:58] luxumbra commented on #222
I see you're still waiting for your PR to be merged @prakharsr. Have you had any feedback in Doscord or anywhere other than github?

[2021-06-06 22:01] luxumbra commented on #190
Bizarre. I'd say this was an issue with the Discourse UI rather than a wiki issue. I am not sure how much control we have over that.

[2021-06-07 08:27] Vyvy-vi commented on #234
I think that was mainly due to docosaurus' limitations, but I think we could maybe have that tweaked(I'll have to look through it), but considering that we might be migrating soon, perhaps this can wait, and be picked up when we re-build the wiki, and aren't limited

[2021-06-07 08:27] #234 closed

[2021-06-07 14:49] luxumbra commented on #234
I guess we could have a simple metadata component that can be used on a page by page basis to override the settings in the `docusaurus.config.js` file. Title, description and `og:image` could be set as props maybe? I just don't think we can make it so the tags are handled automatically.

[2021-06-07 20:06] peth-yursick commented on #231
Damn, that should have been https://wiki.metagame.wtf/docs/home lol,
its been broken for who knows how many months now 🤣

Yes! That would be this: https://wiki.metagame.wtf/docs/Guilding/metasys

Definitely, that would be here: https://forum.metagame.wtf/t/metaville/225

[2021-06-09 23:21] Baconaetor opened #242 "Have Patrons Pool WETH Instead of Buying Seeds"
Per Discord conversation here:
https://discord.com/channels/629411177947987986/783432928804732928/851925062801162290
We've decided to have Patrons add WETH directly to the pSeed Balancer pool, instead of buying seeds first. So we need to:

- [x]     Calcuate a recommended WETH amount
- [ ]     Update all documentation

[2021-06-10 02:31] jonathanprozzi opened #244 "Redirect https://wiki.metagame.wtf/docs/ to https://wiki.metagame.wtf/docs/home"
Currently landing on https://wiki.metagame.wtf/docs/ gives a 404.

If we redirect this to https://wiki.metagame.wtf/docs/home the user would land on the main docs page. This is fairly minor but someone may have a tendency to navigate directly to `/docs` if they're browsing instead of `/docs/home`

Followup question -- do we handle redirects via Vercel?

Thanks!

[2021-06-11 06:08] Baconaetor commented on #231
There's another link missing. "To see the full post on MyMeta Profiles, go here."
Can't find that page at the moment though, I know I saw it somewhere. . . 🧐

[2021-06-11 06:55] Baconaetor commented on #242
Recommended WETH amount is 0.11 at time of writing.

[2021-06-11 15:29] luxumbra opened #246 "Upgrade Docusaurus to version: 2.0.0-beta.0"
There's a new version of Docusaurus out which should address some of our issues.

See Docusaurus [blog post](https://docusaurus.io/blog/2021/05/12/announcing-docusaurus-two-beta)

[2021-06-11 15:32] jonathanprozzi commented on #246
I'm interested in helping with this.  Just worked through a Docusaurus v2 project in my Raid Guild cohort (we hosted our cohort site on IPFS with Docusaurus as well)

[2021-06-11 18:57] luxumbra commented on #231
I know the feeling. Good luck. 😅

[2021-06-11 19:17] luxumbra commented on #246
Sweet!

Have you done any work with NetlifyCMS @jonathanprozzi?

[2021-06-12 01:14] jonathanprozzi commented on #246
I have a long time ago! Would need to revisit it but happy to dig in a bit this weekend!

[2021-06-12 03:01] jonathanprozzi commented on #231
I saw that too -- I wasn't sure what it should link to. I looked through the docs but wasn't sure what it could be.

[2021-06-12 05:43] Baconaetor commented on #231
@peth-yursick Can you enlighten us as to where the page for the details on MyMeta Profiles is? Or has it not been created yet?

I think I found the page I was thinking of, but it ended up just being a newsletter article talking about future plans.

[2021-06-12 20:01] jonathanprozzi commented on #246
I have a Docusaurus v2 'playground' I set up for various testing purposes. Going to set up NetlifyCMS with MDX on it and will then report back with findings from doing this.

[2021-06-12 21:01] luxumbra commented on #246
Amazing. Thanks for the update

[2021-06-12 22:51] jonathanprozzi commented on #246
@luxumbra -- Just for my testing purposes -- do we think we'd want to set up some form of GitHub auth? The other option for editors is to use Netlify Identity (email/password).

I think maybe eventually we'd want to try to use a web3 auth?

I'm going to test both Netlify Identity and GItHub auth for now and will keep reporting back!

[2021-06-13 11:28] luxumbra commented on #246
Hey @jonathanprozzi Probably go with Github auth as many already have github accounts. Isn't netflify identity part of their paid service?

[2021-06-13 15:26] jonathanprozzi commented on #246
Netlify Identity is free up to 1000 users! On my test ground I set it up so that people can create accounts for it via GitHub auth. I think Identity used to perhaps be paid? I never explored it before for that reason. We can likely set roles too.

I definitely think Web3 auth would be great goal eventually!

[2021-06-25 18:34] plasmacorral opened #248 "Feedback on Eth Coaching Playbook"
@chair28980  in reference to playbook: https://wiki.metagame.wtf/docs/playbooks/how-to-coach-eth

Somewhere in here we should spell out for the coach and student/new user:

A Low/slow gas transaction/event can inhibit the ability to complete subsequent transactions.   It can ultimately cost more gas in the end to have to cancel a slow transaction to facilitate a subsequent transaction that has mor

[2021-06-26 17:03] Baconaetor commented on #242
We saw a mention to the old old method recently (5 Seeds!), and we haven't been able to trace the source. Pretty sure it was an old newsletter though, which is fine.

[2021-06-26 21:16] chair28980 commented on #248
@plasmacorral Thank you for the suggestions! I'll get this in asap.

In reference to the navigation and editing bugs you detailed, I'll do some investigation on the proper repo to create the issue in (it's either this repo or TheGame).

[2021-06-27 18:50] peth-yursick opened #253 "Playbooks not appearing as one of the categories in the editing GUI"
Wiki:
![image](https://user-images.githubusercontent.com/55857222/123556021-5d418b00-d789-11eb-9732-7df60d4040ea.png)

Edit mode:
![image](https://user-images.githubusercontent.com/55857222/123556010-561a7d00-d789-11eb-912d-2b7a7188230a.png)

[2021-06-28 12:24] peth-yursick opened #256 ""Last updated""
Would be great to have a "last updated" info on every wiki page, so it makes it easier to see if a page might be out of date & needs to get updated.
The next step would be to have some kind of a system for keeping track of pages who haven't been update in longer than X but let's get that one step at a time :)
"last updated" pls

[2021-06-28 12:41] peth-yursick opened #257 "Playbooks UI Upgrades"
Playbooks are short onboarding & skill-building guides for the DAO space.

[Playbooks on the wiki](https://wiki.metagame.wtf/docs/playbooks/browse)
[Playbook WIPs on Notion](https://www.notion.so/Write-a-Playbook-3d8b963053f5457091abfe74f06248c9)
[📕-playbooks discussion on Discord](https://discord.gg/TCFdHCr)
[Playbooks UI WIP](https://www.figma.com/file/EDj3DFVrV2ms6QA7Q8gRdp/Playbooks-UI---Quick

[2021-06-30 12:59] jonathanprozzi commented on #253
Taking a look at this now @peth-yursick

[2021-06-30 13:10] jonathanprozzi opened #261 "Bad sidebars file"
I was about to start working on #253 and got an error while running locally:
`Starting the development server...
Error: Bad sidebars file.
These sidebar document ids do not exist:
- wtf-is-metagame/300-of-metagame`,

This is resolved locally by  adding a `.md` extension to the `the 300-of-metagame` file. I think without the `.md` extension it won't be picked up in the sidebars config, even if the

[2021-06-30 13:11] jonathanprozzi commented on #261
Just saw that this is already being addressed in PR #260  -- will delete my PR.

[2021-06-30 13:19] jonathanprozzi commented on #253
Resolved the sidebars issue locally so going to dive into this now.

[2021-07-01 05:06] jonathanprozzi commented on #256
Hi @peth-yursick

I took a look at this and I think I got it working. It uses git history for the author and the timestamp.

The local build is using mock data so it doesn't have the correct time/date, but adding the config for this adds it to every page inside docs across from the 'Edit this...':

![last-updated-mock](https://user-images.githubusercontent.com/9438776/124067547-642a0100-da08-11eb-

[2021-07-02 02:25] chair28980 opened #263 "The .md extension is missing from the 300 of Metagame wiki article."
The `.md` should be included in the filename within the directory.

[2021-07-04 16:50] FearlessThompson commented on #257
Additional features maybe - Voice Narration & Gated Content (NFTs or SEEDs)
Categories: DAOs, DeFi, NFTs & dApps

Any other categories, are we going to purely crypto focused?

If we could also add notification, if you Follow a particular playbook author.

Thoughts?

[2021-07-04 21:39] davort commented on #257
This is awesome. Thank you @FearlessThompson and @peth-yursick.
We now have enough ideas to start planning 👍 The method I'd propose is **user story mapping**.

But before we got to that, it would be ideal if we could get a builder to work on it with us.
Hopefully this person will also know what's possible with the new platform that will be underpinning the Wiki (Docusaurus?), and thus the Playbook

[2021-07-06 20:42] luxumbra commented on #261
These changes are now in master, so closing. Thanks for looking into it @jonathanprozzi 🙏🏻

[2021-07-06 20:42] #261 closed

[2021-07-06 20:45] luxumbra commented on #263
This has now been fixed (in #259) and merged, so closing.

[2021-07-06 20:45] #263 closed

[2021-07-06 20:48] luxumbra commented on #231
fixed in #243

[2021-07-06 20:48] #231 closed

[2021-07-06 20:50] luxumbra commented on #242
In that case, I'll close this. Thanks @Baconaetor

[2021-07-06 20:50] #242 closed

[2021-07-06 20:55] luxumbra commented on #256
This looks good to me @jonathanprozzi 👍🏻

[2021-07-07 09:42] FearlessThompson commented on #257
No worries! Understood that would be ideal, I've been meaning to reach out to @jonathanprozzi too. He's been assigned, so hopefully we can get this going.

How would we like to approach the User Story Mapping,I was thinking of maybe a Follow Author feature on Iteration 3.

Depending on availability, would the 3 of us need a quick meeting to discuss the next steps? Yourself & @jonathanprozzi this w

[2021-07-07 11:54] jonathanprozzi commented on #256
Great! will make a PR -- sorry, was out of sorts the last few days.

[2021-07-07 12:02] jonathanprozzi commented on #256
Opened a new PR https://github.com/MetaFam/metagame-wiki/pull/278 related to this

[2021-07-07 12:08] jonathanprozzi commented on #253
I know what the issue is to resolve this but facing some issues with running the CMS in a local dev instance. Once I get that resolved I can continue working on this.

[2021-07-07 14:26] jonathanprozzi commented on #253
Running NetlifyCMS locally with Docusaurus throws an error when navigating to `/admin` --

I've tested this out on our build and also on another NetlifyCMS/Docusaurus site and did some research on it. It says that there is a YAML error in the NetlifyCMS config, but I've run both tests in a YAML parser and our YAML is fine (also got this error with our current YAML on our working build).

I narrowe

[2021-07-07 18:04] jonathanprozzi commented on #257
Still digging in to this, but a few of the lower lifts can be integrated right now (such as the _reading time_) -- will keep exploring and will ask any questions!

[2021-07-07 19:40] davort commented on #257
@FearlessThompson - ideally, we'd know all that is, and isn't possible. But even if we don't know (yet), we can still plan, just somewhat more conservatively.
Even then, we could plan for a _solid first release_, which would be way better from what we've had thus far.

Follow Author - great idea, keep them coming! 😊

@jonathanprozzi - thanks for the update on the "reading time". It will be a great

[2021-07-09 19:27] davort commented on #257
**Playbooks UI - User Story Mapping session**

@FearlessThompson and I met with @luxumbra and @jonathanprozzi yesterday, to take a stab at making a plan for building the Playbooks UI.

We used User Story Mapping as our method of choice, because it let us put all our thoughts onto the [FigJam board](https://www.figma.com/file/lFi0dlWGx2KjHLhQJ1TyNa/Playbooks-User-story-mapping?node-id=0%3A1), which

[2021-07-11 22:36] jonathanprozzi commented on #253
I have this working on my own deployed clone of the wiki. I did that in order to test the config and make sure that it works:

![playbooks-cms-ui](https://user-images.githubusercontent.com/9438776/125211795-ef13c280-e276-11eb-8538-059c23412e14.jpg)

[2021-07-15 20:25] #253 closed

[2021-07-16 17:48] jonathanprozzi commented on #256
I think we can close this now that the PR has been merged.
@luxumbra

[2021-07-16 17:57] #256 closed

[2021-07-17 21:43] luxumbra opened #283 "Quest: Add House of dApps & DeFiance to the wiki"
As a team effort, we got these long overdue posts ready for the wiki. Is there someone who has some Git knowledge and is a relatively new player who could add these to the wiki this weekend? See the [discord post for details of the quest](https://discord.com/channels/629411177947987986/782054816926400533/866064029016522782)

The posts:
[House of DeFiance](https://www.notion.so/House-of-DeFiance-31

[2021-07-19 05:42] Baconaetor commented on #283
Well, this is taking longer than anticipated. . . I thought it was gonna be a simply copy paste operation. I'll come back to it tomorrow eve.

I've got the House of Dapps mostly fixed up, but need to give it a content review. House of DeFi still needs some fix'ns. I deleted the sub-stack sub button as it was throwing errors and none of the other pages have one. I also changed the icon for House of

[2021-07-19 13:06] luxumbra commented on #283
Yeah, the sub button was there originally. Perhaps just add a link to the mewsletter instead?

[2021-07-21 07:59] davort commented on #257
Here's the first batch of mobile wireframes. The goal was to nail down the basic layout for mobile, while making sure all is accessible in terms of sizes for tap target areas, font-sizes and colors.

The mockups are showing:

1. Landing page view → _a sort of a digest, showing the latest—or most read?—additions to each category_
2. Landing page w/ category hidden/collapsed → _just an idea for keep

[2021-07-23 11:31] #283 closed

[2021-07-27 16:11] luxumbra commented on #257
Loving the progress on this. Apologies for the slow response @davort

Great idea @davort 👍🏻 Sort by latest or most read would be nice.

Nice. maybe show the top/newest post and a 'view more books' to expand.

No comment. 👍🏻

No comment 💪🏻

Yes, I think a short bio would be great. or link to their mymeta profile.

[2021-07-30 18:34] tommymaher15 commented on #180
Is this still needed?

[2021-07-31 17:17] tommymaher15 commented on #244
Curious on this I was reading into the documentation for docusauras and found a plugin that handles redirects on the client side.

Would this an option for this?

[2021-08-03 04:23] Baconaetor commented on #180
I see what you mean, and we can do this. I am not so sure though, I mean imo the wiki is more useful than mymeta right now. Although I guess we could work on that. Either way I agree on the redirect.

[2021-08-03 04:24] Baconaetor commented on #126
@peth-yursick is this still an issue or can we close it?

[2021-08-03 17:37] tommymaher15 commented on #180
I was curious how to do this.

ALso I was looking at the issue for migrating to the latest version and the features that offers could that make things easier?

[2021-08-03 18:34] luxumbra commented on #180
I am not sure how possible it is with Docusaurus, even with the new version. @jonathanprozzi has looked further into what it is possible with it.

[2021-08-06 20:46] peth-yursick commented on #180
The idea was that the wiki would open directly below the app drawer after being clicked on https://my.metagame.wtf, so it would make sense to remove it otherwise opening the wiki through the app drawer would just open another app drawer with all the same things.
But... Currently it still opens things in a new tab so we probably shouldn't remove it yet.
Maybe check how #641 is doing and how things

[2021-08-06 20:47] peth-yursick commented on #126
Closing, thank you

[2021-08-06 20:47] #126 closed

[2021-08-07 03:06] Baconaetor commented on #246
Greetings Gentlemen! Where are we on this? What's the timeline for moving the wiki over to Docusaurus V2?

[2021-08-10 03:16] Baconaetor commented on #190
I suspect this is because the thread title is longer, so it's compressing the button options on the right. Must be a max of four while the title is shown, so it drops the middle one as it compresses. As @luxumbra said, I doubt there is much we can do about this as it's probably on the Discourse side. Also, as My Meta is built out and starts to include the wiki it should be a null issue. I'll close

[2021-08-10 03:16] #190 closed

[2021-08-10 03:18] Baconaetor commented on #257
My understanding was that this UI design was for My Meta/Meta OS. Is this the case, or are we designing it for the wiki?

[2021-08-10 03:29] Baconaetor commented on #248
@chair28980 What's the status on this? Is this issue ready to be closed?

Also, @plasmacorral I'm not sure if @chair28980 fixed it or not, but I can find this article through the editing portal now.

[2021-08-10 05:45] davort commented on #257
This is correct. You can find more context in the [Playbooks UI Notion](https://skinny-estimate-0fd.notion.site/Playbooks-UI-5ae958cfe1e945658deecd3a78764a0a) page.

[2021-08-13 04:52] Baconaetor commented on #257
Ok, is there a way to move this issue to over there then?

[2021-08-13 05:04] Baconaetor commented on #222
I'm not sure what the point of this is. Is it just to provide an easy way to add memes and art to the wiki? Do they just drop to the art and memes pages? @peth-yursick can you elaborate on your idea behind this and if we still want it?

[2021-08-14 20:52] tommymaher15 commented on #246
just checking this one out now! had some node issues on my end which has solved a few painpoints I had on both this and the app.

Running through the migration process right now hopefully can close this one out soon

[2021-08-14 21:59] tommymaher15 commented on #246
getting some weird errors but going to try and migrate the site by hand by spinning up a v2 project and moving everything over and checking if that works

[2021-08-15 02:02] tommymaher15 commented on #246
Ok so after some digging, looking at our version for the wiki ```"@docusaurus/core": "^2.0.0-alpha.64",``` which isn't currently [maintained](https://docusaurus.io/versions); I think maybe it would make sense if we spun up a version for 2.0.0-beta.4 which is the current stable built for the wiki and just manually move things over perhaps?

I've never used docusaurus before myself but after checkin

[2021-08-19 21:02] luxumbra opened #290 "Fix error in CMS when adding a new page"
Adding a new page in the CMS  results in a new branch with the file and contents but returns the following error in the CMS. `Failed to persist entry: API_ERROR: Resource not accessible by integration`.

The work is saved but it's pretty poor UX for non techy folk as it just looks like the content wont save.

I am looking into it.

[2021-09-07 11:25] vidvidvid opened #296 "Slight performance issue when scrolling"
Having a `background-attachment: fixed` makes the whole background image re-paint every time the user scrolls. A better solution would be to make a pseudo element displaying the chosen image and set `will-change: transform;` to it in order to let the browser know to render the element independently of its surroundings.

You can check the scrolling on MacBook Pro 2020: https://easyupload.io/c8nddj

[2021-09-07 11:26] vidvidvid commented on #296
I also actually solved the issue already, just waiting to get permission to push to the repository and I'll open the PR.

[2021-09-16 19:45] #296 closed

[2021-10-16 16:12] Baconaetor opened #306 "Details Foldout Formatting"
The styling/formatting for the details foldout changed recently. Now it's blocked off in a teal box. I actually kinda like as a colored box, but at the minimum the box needs to be colored within the MG color scheme. It's actually kinda ironic as the color it is now is super close.

![image](https://user-images.githubusercontent.com/1706934/137594590-b00aadf9-0ec6-420e-8880-f584474d9384.png)

[2021-10-16 16:17] luxumbra commented on #246
The weird errors are what prevent us from following the super simple upgrade instructions - it has been tried before and breaks a number of things. I commented on #300, saying that maybe it is time to devote some energy into sorting the wiki out.

[2021-10-17 15:02] luxumbra commented on #248
@chair28980 I assumed you're flat out with other stuff, so have merged @plasmacorral PR (#305) which closes this out.

[2021-10-17 15:02] #248 closed

[2021-10-18 01:14] #306 closed, assigned to luxumbra

[2021-10-20 16:25] Baconaetor commented on #180
Am I the only one who hates iframes? I'd rather not have it open as a page within a page, but I agree that the app drawer etc needs to be reworked. I've talked with both Peth and Lux recently about it. My current plan is to create a new homepage for the wiki, that has a clean layout with links to the various sections of the wiki, and also out to myMeta and maybe some other MetaGame services. This

[2021-10-29 01:18] Pronoia42 opened #365 "Overlapping Div"

[2021-11-10 12:36] peth-yursick commented on #180
Is it possible to incorporate the megamenu without having to rebuild it within docusaurus?
I still think it would be more optimal to open it through MetaOS's megamenu if nothing, because then the whole site doesn't need to get reloaded..
There should definitely be a separate landing page outside wiki that I started working with Dave on & I think over time everything should slowly be taken out of t

[2021-11-10 14:00] Baconaetor commented on #180
@luxumbra and @peth-yursick you're kinda proving my point and worrying me at the same time here. So the page you hit at metagame.wtf (which is technically wiki.metagame.wtf) is a landing page and not _really_ part of the wiki. That's the landing page I'm referring to and it should be fully separated from the wiki to avoid these confusions. That's also why I was asking if it should point to MyMeta

[2021-11-15 23:07] pvblick-vniversal-friend opened #315 "ToC hovers on top of Sidebar"
## **What happened?**
Table of Contents overlaps with the drop down menu on the right:

![MetaWiki_UI_Issue](https://user-images.githubusercontent.com/83452350/141861368-775fae66-2be5-4e7f-85db-9b1b7612b8ed.png)

Where and when:
Spotted on a laptop before entering the server in the player path.
This means that various other people will have encountered the problem before enetering MetaGame.

### *

[2021-11-16 11:30] luxumbra commented on #315
Looking at this now.

[2021-11-16 17:43] pvblick-vniversal-friend commented on #315
@luxumbra any progress?

[2021-11-16 22:45] peth-yursick commented on #180
That is indeed currently the case! But Dave is designing a new actual landing page, that will be at metagame.wtf without redirecting, and leading people through onboarding, creation of MyMeta profiles & the discovery of things in the menu, one of which should be the wiki.

[2021-11-17 00:53] luxumbra commented on #315
I started looking this morning and will do more over the next couple of days but today I was distracted by trying to get another bits of work done on the other repo and helping to push this months SEED mint.

[2022-01-25 03:49] tommycomma opened #331 "Old Liquidity Pool Link on Wiki"
This link reading 'plant & water their seeds' on the wiki page https://wiki.metagame.wtf/docs/how-does-it-work/xp

Leads to https://beta.pools.balancer.exchange/#/pool/0xea05a15dbce2eb543ffda16950e95b2bd2e40d0e/swaps

And needs to be updated to

https://polygon.balancer.fi/#/pool/0x8a8fcd351ed553fc75aecbc566a32f94471f302e000100000000000000000081/invest

![image](https://user-images.githubuserconte

[2022-01-25 04:07] tommycomma opened #332 "Outdated Guild Page on Wiki"
https://wiki.metagame.wtf/docs/enter-metagame/guilds-of-metagame

Is out of date.

We need to add
-Bloom Network
-Chievmint
-DaoHaus
-Gitcoin
-Giveth
-Panvala
-YapDAO
-Cre8r DAO
-Atlantis World
-dOrg

[2022-01-25 04:10] tommycomma opened #333 "Seed Market Icon only goes to Mainnet"
https://balancer.exchange/#/swap/ether/0x30cf203b48edaa42c3b4918e955fed26cd012a3f

Is the current link for the Seed Market Icon on the wiki

Does this need to updated to Polygon?

![image](https://user-images.githubusercontent.com/93880424/150909424-d14da8cd-5871-4d03-b4ee-5d4a57a61f2c.jpeg)

[2022-01-25 04:15] tommycomma opened #334 "Wiki: Playbook Links overlap on Sidebar"
When you are on the sidebar and click the pull down menu for Playbooks then choose a playbook,

Such as here https://wiki.metagame.wtf/docs/playbooks/how-to-make-it-without-technical-skills

The playbook's sections overlap as a new sidebar..

Looks like this
![image](https://user-images.githubusercontent.com/93880424/150909854-7a73424b-6d3d-48bc-a91d-a88997bdf1e9.jpeg)

[2022-01-25 04:21] tommycomma opened #335 "Have to click Back in Browser to change sidebar menu"
If for example, I am here

https://wiki.metagame.wtf/docs/great-houses/how-to-house

And I have clicked drop down of Great Houses and then clicked for example How to House...

I must click Back in the browser to change to a different Category outside of Great Houses.

I can neither put the submenu back with the arrow of Great Houses nor click a new category's drop down arrow to move between catego

[2022-01-25 04:26] tommycomma opened #336 "Outdated Content on Seed"
https://wiki.metagame.wtf/docs/what-we-do/metasys

This does not mention our Rai, Eth, Seed pool but does mention DAI?

There are a few missing spaces throughout

And the section about Seed hovering around $50 might need to be adjusted

![image](https://user-images.githubusercontent.com/93880424/150910843-a38aef0e-23be-4c9c-9d01-b91ac824ddc9.jpeg)

[2022-01-25 04:33] tommycomma opened #337 "Why are we describing our UX as 'terrible'?"
https://wiki.metagame.wtf/docs/what-we-do/metasys
![image](https://user-images.githubusercontent.com/93880424/150911483-a77b6bff-944a-4388-a2b1-e958d8333ead.jpeg)

[2022-01-27 05:09] tommycomma opened #338 "Outdated Content Links -Buy Seed, Check Balance"
![image](https://user-images.githubusercontent.com/93880424/151295341-253cf64a-5603-45a5-800e-1ed0877fafa4.jpeg)

Found on https://wiki.metagame.wtf/docs/enter-metagame/how-to-become-a-player

The link for 'Buy some seeds here' goes to our mainnet seed at app.balancer.if

And maybe should direct to our polygon pool or trade link

https://polygon.balancer.fi/#/pool/0x8a8fcd351ed553fc75aecbc566a32f9

[2022-01-27 05:11] tommycomma commented on #315
Sorry I think I made this as an additional new issue

https://github.com/MetaFam/metagame-wiki/issues/334

[2022-01-27 05:19] tommycomma opened #339 "Content Edit - Applications no longer apply"
On https://wiki.metagame.wtf/docs/enter-metagame/how-to-become-a-player
![image](https://user-images.githubusercontent.com/93880424/151296450-233bd7c4-965b-4b7a-a5f1-14139efce4e6.jpeg)

Need to remove the disclaimer about applications.  It no longer applies.  This whole page needs a rehaul really

![image](https://user-images.githubusercontent.com/93880424/151296494-f5e07907-41f9-4e28-aa47-9485ee0

[2022-01-27 12:11] luxumbra commented on #334
hey @tommycomma could you include your browser, screen size and operating system when reporting display bugs like this? Thanks. 🙏🏻

[2022-01-27 13:08] #334 closed

[2022-01-27 13:09] luxumbra commented on #334
Closing as the issue is the same as in #315

[2022-01-27 17:57] luxumbra commented on #315
I have picked this up again today. Apologies for the delay!! @pvblick-vniversal-friend @tommycomma

[2022-02-08 21:06] pvblick-vniversal-friend commented on #337
I was wondering the same thing...

Anyways I thing the whole section is totally out. What UX are we even talking about?

[2022-02-08 21:13] pvblick-vniversal-friend commented on #336
The whole 🧩 [How it all fits together](https://wiki.metagame.wtf/docs/what-we-do/metasys#-how-it-all-fits-together) things needs to be rewritten from scratch.

The "It sounds so simple" paragraph got to go. This seems like an early-stage "bragging about our wins" thing to bring in investors.

Also the "what _I think_ investors like" phrase leaves a bit of a sour taste.  Just scrape it completely.

[2022-02-09 14:28] pvblick-vniversal-friend opened #341 "MetaOS Wiki Page Revamp"
[MetaOS Wiki](https://wiki.metagame.wtf/docs/what-we-do/metaos)

### The page needs a **total overhaul**!

Things to do:
- [ ] Make a new outline of the structure of the page.
- [ ] This image needs to go:
<img src="https://user-images.githubusercontent.com/83452350/153219662-e7e6a30b-7262-4818-8a83-befd30b41c97.png"
     width="300"
     height="auto" />
Maybe replace it with this:
<img src="http

[2022-02-12 22:38] pvblick-vniversal-friend commented on #335
This problem doesn't happen with me.

[2022-02-12 22:49] pvblick-vniversal-friend commented on #332
Don't you have access to directly edit the wiki?

[2022-02-14 20:56] tommycomma commented on #336
Yea I agree, rehaul?

[2022-02-15 18:34] #331 closed

[2022-02-18 23:56] Baconaetor opened #346 "Make a new outline of the structure of the page."

[2022-02-19 00:01] Baconaetor commented on #338
The balancer pool link on the join page for patrons still needs to be updated. @kittyslasher had a PR open for it but it went stale and I closed it. Hoping he'll open a new one for it soon.

[2022-02-23 13:18] luxumbra commented on #335
This is a display bug on smaller screens. I started fixing this and a couple of other issues a cpl of weeks ago but never completed it due to other commitments. Will pick it up when I can.

[2022-03-15 17:01] pvblick-vniversal-friend commented on #333
@luxumbra how can I find the branch with the app-drawer links?

[2022-04-15 06:23] tommycomma commented on #332
Yea, it seems that wording is easier to follow than guilds or embassies.  MetaAlliance has been used more frequently lately.

[2022-09-28 19:59] peth-yursick opened #355 "Removing the navigation bar & merging "search" into the sidebar"
As a part of finishing the integration of the [wiki](/) into [metaos](https://metagame.wtf/),
its time to make the final steps:

- Removing the navigation bar so there's no weird double navbar when opening the wiki inside metaos
- Merging search into the sidebar or leave it where it is if not possible
- Redirecting https://wiki.metagame.wtf to https://wiki.metagame.wtf/docs/

If possible, it shoul